meta(charset="utf-8")

title "ФРАНШИЗА УЧЕБНОГО ЦЕНТРА БАРС"

meta(name="viewport", content="width=device-width, initial-scale=1")

meta(name="description", content="Bars, учебный центр")
meta(name="keywords", content="Bars")
meta(name="robots", content="index, follow")
meta(property="og:title", content="ФРАНШИЗА УЧЕБНОГО ЦЕНТРА БАРС")
meta(property="og:url", content="//franchise-bars.ru")
meta(property="og:image", content="//franchise-bars.ru/img/image.jpg")
meta(property="og:locale", content="ru_RU")
meta(property="og:description", content="Bars")
link(rel="icon", sizes="32x32", href="//franchise-bars.ru/favicon.ico")
link(rel="apple-touch-icon-precomposed", href="//franchise-bars.ru/img/image-180x180.jpg")
meta(name="msapplication-TileImage", content="//franchise-bars.ru/img/image-270x270.jpg")