.top-menu._container._row
    ._col-6._col-sm-3._ml-sm
        a(href="/")
            img.top-menu__logo(src="/img/logo.png", alt="Барс")
    ._row._col-6._col-sm-4._col-lg-3._middle
        a.link.top-menu__link(href="tel:+79196956019")
            | +7&nbsp;(919)&nbsp;695&nbsp;60&nbsp;19
        a.link.top-menu__link(href="tel:+79178664489")
            | +7&nbsp;(917)&nbsp;866&nbsp;44&nbsp;89
    ._col-12._col-sm-5._col-md-4._col-lg-3._middle
        label.button(for="modal-close") Заказать звонок