$default-font: 'sfuitext', sans-serif;

$background-color: #180d5a;

$p-color: #fff;
$s-color: #00ad5d;

$p-active-color: #b7b7b7;
$s-active-color: #b7b7b7;

$p-icon-disable: #949bca;
$p-icon-active: #ffffff;

$p-text-color: #fff;
$s-text-color: #00ad5d;