section.header._container._row
    ._col-12._col-sm-12._col-lg-9._col-xl-8
        h1.header__caption
            | ЗАРАБАТЫВАЙТЕ ОТ&nbsp;<span class="_s">150&nbsp;000+</span>&nbsp;&#8381;&frasl;МЕС.
            | НА&nbsp;ФРАНШИЗЕ УЧЕБНОГО ЦЕНТРА
            | ДИСТАНЦИОННОГО ОБРАЗОВАНИЯ
    ._row._col-12._p-n
        ._col-6._col-lg-4.line
        ._col-4._col-sm-2._col-xl-1.line._left
        ._col-2._col-sm-4._col-lg-3.line
    ._row._col-12._ptb-n
        .header__triggers
            | ПРОФЕССИОНАЛЬНАЯ<br>
            | ПЕРЕПОДГОТОВКА
        .header__triggers
            | ПОВЫШЕНИЕ<br>
            | КВАЛИФИКАЦИИ
        .header__triggers
            | ОБУЧЕНИЕ<br>
            | ПО СПЕЦИАЛЬНОСТЯМ
    ._col-12.header__text
        | Бесплатный пошаговый план открытия УЦ<br>
        | В Вашем городе с прогнозом прибыльности
    ._col-12._col-sm-5._col-md-4._col-lg-3
        label.button(for="modal-close") Получить бизнес план
    ._row._col-12._p-n.header__indicators
        h3._col-12
            | Ключевые<br>
            | показатели франшизы
        ._row._col-12._p-n
            ._col-8._col-sm-5._col-lg-3.line
            ._col-4._col-sm-2._col-xl-1.line._left
        ._row._col-12._col-md-9._col-lg-7._col-xl-6._ptb-n
            .header__indicator-item._money
                | <span class="_s">38&nbsp;000&nbsp;&#8381;</span><br>
                | Первоначальные<br>
                | инвестиции
            .header__indicator-item._calendar
                | <span class="_s">3&nbsp;МЕС.</span><br>
                | Окупаемость<br>
                | инвестиций
            .header__indicator-item._favorites
                | <span class="_s">500&nbsp;000&nbsp;&#8381;&frasl;МЕС.</span><br>
                | Прибыль через<br>
                | 48 мес.
            .header__indicator-item._clock
                | <span class="_s">30&nbsp;ДНЕЙ</span><br>
                | На запуск<br>
                | УЦ
    ._col-lg-5.header__scroll-box
        .header__scroll
            i.header__mouse