section.necessarily._container._row
    ._col-12._col-sm-6._col-lg-5._col-xl-4
        h3
            | К&nbsp;обязательному обучению относятся:
    ._row._col-12._p-n
        ._col-8._col-sm-4._col-lg-3._col-xl-3.line
        ._col-4._col-sm-2._col-xl-1.line._left
    ._row._col-12._p-n
        ._col-12._col-sm-6._col-md-4._col-lg-3.necessarily__item._shield
            | Охрана<br>
            | труда
        ._col-12._col-sm-6._col-md-4._col-lg-3.necessarily__item._electro
            | Электро<br>
            | безопасность
        ._col-12._col-sm-6._col-md-4._col-lg-3.necessarily__item._warning
            | Промышленная<br>
            | безопасность
        ._col-12._col-sm-6._col-md-4._col-lg-3.necessarily__item._spy
            | Гражданская оборона<br>
            | и&nbsp;черезвычайные ситуации
        ._col-12._col-sm-6._col-md-4._col-lg-3.necessarily__item._fire
            | Пожарно-технический<br>
            | минимум
        ._col-12._col-sm-6._col-md-4._col-lg-3.necessarily__item._ecol
            | Экологическая<br>
            | безопасность
        ._col-12._col-sm-6._col-md-4._col-lg-3.necessarily__item._med
            | Оказание первой<br>
            | помощи пострадавшим
    ._row._col-12._p-n.necessarily__text
        ._col-10._col-sm-7._col-lg-7._col-xl-6._ml.body0
            | ОТКРЫВ УЧЕБНЫЙ ЦЕНТР В&nbsp;СВОЕМ ГОРОДЕ,
            | ВЫ&nbsp;ПОЛУЧАЕТЕ ЛЕГКО МАСШТАБИРУЕМЫЙ
            | И&nbsp;ВЫСОКОМАРЖИНАЛЬНЫЙ БИЗНЕС,
            | КОТОРЫЙ ВСЕГДА АКТУАЛЕН!
        ._col-12._col-sm-5._col-md-4._col-lg-3._middle
            label.button.necessarily__button(for="modal-close") Получить бизнес план