section.niche._container._row
    ._col-10._col-sm-9._col-lg-7._col-xl-6
        h3
            | Почему именно ниша профессионального образования
    ._row._col-12._p-n
        ._col-8._col-sm-7._col-lg-5._col-xl-4.line
        ._col-4._col-sm-2.line._left
    ._row._col-12._p-n
        ._col-10._col-sm-9._col-lg-7._col-xl-6
            | В&nbsp;отличие от&nbsp;учебных центров дополнительного образования детей
            | или взрослых, в&nbsp;профессиональных учебных центрах обеспечивается постоянный
            | поток клиентов за&nbsp;счет корпоративных заказов. Благодаря современным
            | технологиям, получить образование рабочим специальностям
            | или профессиональную переподготовку стало возможно дистанционно.
            | Это отличная возможность изучить что-то новое, сменить специальность,
            | повысить квалификацию и&nbsp;увеличить свою экспертность.
    ._row._col-12._p-n
        ._col-9._col-sm-8._col-lg-6._col-xl-5
            .body1.niche__sources
                | Источниками заказов для профессионального
                | учебного центра являются:
            .niche__item
                | Лица, которым необходимо получение обучения
                | для трудоустройства или повышения квалификации/разряда
            .niche__item
                | Лица, которым необходимо получение нового
                | вида профессии или специальности.
            .niche__item
                | Работодатели, которые в&nbsp;силу закона обязаны
                | обучить своих сотрудников (например, по&nbsp;охране труда,
                | пожарно-технический минимум)
            .niche__item
                | Государственные и&nbsp;муниципальные
                | закупки образовательных услуг
    ._col-10._col-sm-9._col-lg-7._col-xl-6.niche__essence
        h3
            | В&nbsp;чем суть франшизы
    ._row._col-12._p-n
        ._col-8._col-sm-4._col-lg-3._col-xl-3.line
        ._col-4._col-sm-2._col-xl-1.line._left
    ._row._col-12._p-n
        ._col-10._col-sm-9._col-lg-7._col-xl-6.niche__essence-text
            | Вы&nbsp;будете зарабатывать на&nbsp;продаже курсов:
            | профессиональной подготовки, повышения квалификации
            | и&nbsp;обучения по&nbsp;специальностям в&nbsp;различных
            | сферах профессиональной деятельности.
    ._row._col-12._p-n
        ._col-10._col-sm-9._col-lg-7._col-xl-6
            | <strong>Обязательное обучение</strong>, согласно Федеральному закону
            | от&nbsp;29.12.2012&nbsp;N 273-ФЗ (ред.&nbsp;от&nbsp;06.03.2019) &laquo;Об&nbsp;образовании
            | в&nbsp;Российской Федерации&raquo; (перейти по&nbsp;ссылке), должны проходить
            | все без исключения работники организаций.