section.reviews._container._row
    ._col-12._col-sm-6._col-lg-5._col-xl-4
        h3
            | Отзывы<br> наших партнеров
    ._row._col-12._p-n
        ._col-8._col-sm-3._col-lg-2.line
        ._col-4._col-sm-2._col-xl-1.line._left
    ._col-12
        .reviews__video-box
            iframe.reviews__video(width="100%", height="100%", src="https://www.youtube.com/embed/_kx45Bc_SP0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            .reviews__video-btn
    ._col-12
        .body0
            | ОТКРОЙТЕ ОБРАЗОВАТЕЛЬНЫЙ БИЗНЕС<br>
            | НА&nbsp;РАСТУЩЕМ РЫНКЕ С&nbsp;УЦ&nbsp;&laquo;БАРС&raquo; И&nbsp;ЗАРАБАТЫВАЙТЕ&nbsp;ОТ
        .body-big
            | 150&nbsp;000&nbsp;руб/мес.
    ._col-12._p-n#form
        form._row._col-12._p-n.reviews__form(action="/mail.php", method="POST")
            ._col-lg-3
                input.payment__input(id="rf-name", name="name", type="text" placeholder=" " required="required")
                label.payment__label(for="rf-name")
                    | Ваше имя
            ._col-lg-3
                input.payment__input(id="rf-phone", type="tel", name="phone" placeholder=" " required="required")
                label.payment__label(for="rf-phone")
                    | Ваш телефон
            ._col-lg-3
                input.payment__input(id="rf-city", type="text", name="city" placeholder=" ")
                label.payment__label(for="rf-city")
                    | Ваш город
            ._col-lg-3
                button.button._form(type="send")
                    | Заказать обратный звонок